@import url(https://fonts.google.com/selection/embed);


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #0f1115; /* Abu-abu gelap mendekati hitam */
    font-family: 'Montserrat', sans-serif;
    color: white;
    display: flex;
    min-height: 100vh;
}

.sidebar {
    width: 250px;
    background-color: rgb(22, 24, 29); /* Sedikit lebih terang dari body */
    border-right: 1px solid rgba(111, 121, 146, 0.1);
    padding: 25px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.sidebar p {
    font-size: 1rem;
    letter-spacing: 1px;
    color: rgba(255, 255, 255, 0.7);
    line-height: 1.5;
    text-transform: uppercase;
    transition: 0.3s;
}

.sidebar p:hover {
    font-size: 1rem;
    letter-spacing: 2px;
    color: rgba(255, 255, 255, 1);
    line-height: 1.5;
    text-transform: uppercase;
}

.main-content {
    flex: 1;
    padding: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header-title {
    align-self: flex-start;
    margin-bottom: 20px;
}

.header-title h2 {
    font-weight: 300;
    letter-spacing: 3px;
    text-transform: uppercase;
    color: rgba(255, 255, 255, 0.8);
}

.museum-gallery {
    display: flex;
    gap: 80px;
    margin-top: 50px;
}

.painting-container {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.light-bulb {
    width: 100px;
    height: 60px;
    background-color: rgb(255, 255, 255, 0.8); 
    border-radius: 50%;
    box-shadow: 0 0 20px rgba(73, 73, 72, 0.8);
    margin-bottom: -40px;
    z-index: 2;
}

.light-beam {
    width: 150px;
    height: 200px;
    background: radial-gradient(circle, rgba(255, 255, 200, 0.5) 0%, rgba(255, 255, 255, 0) 70%);
    clip-path: polygon(20% 0%, 80% 0%, 100% 100%, 0% 100%);
    margin-bottom: -100px;
    z-index: 1;
}

/* Frame Lukisan */
.painting {
    width: 250px;
    height: 350px;
    background-size: cover;
    background-position: center;
    border: 8px solid #a1852b;
    cursor: pointer;
    transition: all 0.3s ease;

}

/* Efek Glowing & Hover */
.painting:hover {
    transform: scale(1.05);
    border: 8px solid #d4af37;
    box-shadow: 0 0 40px rgba(212, 175, 55, 0.4);
}

/* Animasi Fade saat diklik */
.painting:active {
    opacity: 0;
    transition: 0.3s;
}

.painting-label {
    margin-top: 15px;
    font-size: 1.2rem;
    letter-spacing: 2px;
    color: #d4af37;
}
.painting-label:hover {
    color: #fff;
    text-shadow: 0 0 10px rgba(212, 175, 55, 0.6);
    cursor: pointer;
}

