@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif; 
    min-height: 100vh;
}

body.login-page {
    background-image:linear-gradient(rgba(147, 146, 146, 0.5), rgb(23, 23, 23)), url('https://i.pinimg.com/1200x/b3/69/9a/b3699a8788c95d7eeaec00da427b1cb6.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    justify-content: center;
    display: flex;
    flex-direction: column;
}

.main-container {
    height: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 18px;
    color: rgb(3, 0, 52);
}

.login-title {
    text-align: center;
}

.form-container {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.input-group {

    display: flex;
    flex-direction: column;
    gap: 15px;
}

.input-group input {
    padding: 12px 20px;       /* Membuat kotak lebih besar/luas */
    font-size: 16px;          /* Ukuran teks di dalam kotak */
    border-radius: 25px;      /* Membuat sisi kiri-kanan membulat */
    border: 1px solid #727272;   /* Memberi garis tepi tipis */
    outline: none;            /* Menghapus garis biru saat diklik */
    width: 400px;   
    align-items: center;          /* Mengatur lebar kotak agar konsisten */
}

.action-group {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}


.action-group button, .action-group a {
    background-color: rgb(3, 0, 52);    /* Mengubah warna menjadi biru gelap */
    color: white;              /* Warna teks menjadi putih */
    padding: 10px 30px;        /* padding kiri-kanan (40px) agar lebih panjang */
    border-radius: 25px;       /* Membuat sisi membulat sempurna */
    text-decoration: none;     /* Menghapus garis bawah jika itu tag <a> */
    font-weight: 600;
    border: none;
    transition: 0.3s;          /* Efek transisi saat di-hover */
    cursor: pointer;
    width: 100%;               /* Membuat tombol selebar kotak input */
    text-align: center;
}


.action-group button:hover, .action-group a:hover {
    background-color: rgb(3, 0, 52); /* Warna biru sedikit lebih terang */
    transform: scale(1.05);    /* Efek sedikit membesar */
}

